
<input type="text" [(ngModel)] = "title"> {{title}}
<input type="text" [(ngModel)] = "power">  {{power | exponential}}

<div *ngIf="title === 'alan'">
  Hola Alan
</div>

<div [ngSwitch] = "title">
  <p *ngSwitchCase="'alan'">Hola Alan</p>
  <p *ngSwitchCase="'pedro'">Hola pedro</p>
  <p *ngSwitchCase="'juan'">Hola juan</p>
  <p *ngSwitchCase="'pepe'">Hola pepe</p>
  <p *ngSwitchDefault></p>
</div>

<button (click) = "addItem()" >Add item</button>

<ul>
  <li *ngIf="items.length === 0">La lista esta vacia</li>
  <li *ngFor="let name of items; index as i">
    {{name}} {{i}}
    <button (click) = "deleteItem(i)"> Delete </button>
  </li>
</ul>

